[Desktop Entry]
Type=Application
Name=Leapdesk KVM
Comment=Keyboard and mouse sharing solution
Exec=leapdesk
Icon=io.github.bryceishunter.leapdesk-kvm
Terminal=false
Categories=Network
Keywords=keyboard;mouse;sharing;network;share;
